<app-preview-text #preview></app-preview-text>

<div class="case"> <!-- (mouseover)="parent.highlight(true)" (mouseleave)="parent.highlight(false)" -->
  
  <!-- checkbox -->
  <div class="selector">
    <mat-checkbox type="checkbox" [(ngModel)]="selected" (click)="checkSelect($event)"></mat-checkbox>
  </div>
  <!-- columns -->
  <div *ngFor="let n of columnCount">
    <div 
      class="item" 
      (mouseover)="checkPreview(n, $event)" (mouseleave)="checkPreviewNull()"
      [innerHtml]="search.highlight( unNull(infoGetter.getColumnByIndex(parent.model, n),n) )">
    </div>
    <div *ngIf="checkImageActive(n)" class="caseThumbnail">
      <img (click)="getHighImage()" class="thumbnail gOutline" [src]="parent.imageLow">
      <button class="btn btn-primary btn-sm modifyButton" (click)="openModify()">Modify</button>
    </div>
  </div>
  <button class="btn btn-primary btn-sm" (click)="parent.expandImage(2)">Expand</button>
  <button class="btn btn-primary btn-sm" (click)="openShare()">S</button>
</div>


