.case{
    width: 1320px;
    /* height: 30px; */
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}
.caseThumbnail{
    display:flex;
    align-items: center;
}
.item{
    text-align: left;
    font-family: Tahoma;
    font-size: 1.2em;
    position: relative;
    min-width: 244px;
}
button{
    margin-right: 5px;
    width: 100px;
    float: right;
}
.selector{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 10px;
}
.thumbnail{
    width: 90px;
    height: 60px;
    padding: 2px;
}
.modifyButton{
    margin-left: 10px;
    width: 80px;
}
img{
    cursor:pointer;
}
#expand{
}
