<div class="tops" appNotification>
    <div class="titleLeft">
        <h2>{{isBatch? 'Batch Modify': 'Update Photo'}}</h2>
        <em *ngIf="!isBatch">{{childPointer+1}}: {{getFileName()}}</em><br>
    </div>

    <div *ngIf="!isBatch" class="thumbnail">
        <img class="gShadow" [src]="getThumbnail()">
    </div>
    
    <div *ngIf="!isBatch" class="titleButtons">
        <div class="topGroup"> 
            <button tabindex=-1 class="titleButton big"  (click) = "forwardChildAndSave(true)" mat-raised-button color="warn">Save And Next</button>
            <button tabindex=-1 class="titleButton big"  (click) = "forwardChildAndSave(false)" mat-raised-button color="warn">Save And Previous</button>
        </div>

        <div class="topGroup">
            <button tabindex=-1 mat-raised-button class="titleButton" (click)="modify()">Update</button>
            <button tabindex=-1 class="titleButton" (click)="prevChild()" mat-raised-button>Previous</button>
            <button tabindex=-1 class="titleButton" (click)="nextChild()" mat-raised-button>Next</button>
        </div>
    </div>
</div>
<small *ngIf="isBatch">Empty fields will not be modified.</small>
<hr>
<app-photoform #photoform></app-photoform>
<app-reference #reference></app-reference>
<br>
<div *ngIf="!isBatch" class="thumbnail">
    <figure>
        <img class="gShadow extraView" [src]="getThumbnail()">
        <figcaption>Extra View</figcaption>
        <br>
    </figure>
</div>
<br>
<div class="buttonGroups">
    <div class="buttons leftMost">
        <small  matTooltip="Queued updates that will reflect changes on next search or page reload.">Information</small>
        <hr>
        <button mat-raised-button (click)="modify()">Update</button>
        <button mat-raised-button color="warn" (click)="delete()">Delete</button>
    </div>
    
    <div *ngIf="isBatch" class="buttons">
        <small matTooltip="Queued downloads that will show on log when ready to download.">Batch Download</small>
        <hr>
        <button mat-raised-button (click)="download(0, 0)">Download Original</button><br>
        <button mat-raised-button (click)="download(0, 1)">Download Reference</button><br>
        <button mat-raised-button (click)="download(0, 2)">Download Merge</button><br>
    </div>
    
    <div *ngIf="!isBatch" class="buttons">
            <small matTooltip="Immediately download the image file.">Download</small>
            <hr>
        <button mat-raised-button (click)="download(2, 0)">Download Original</button><br>
        <button mat-raised-button (click)="download(2, 1)">Download Reference</button><br>
        <button mat-raised-button (click)="download(2, 2)">Download Merge</button><br>
    </div>

    <div class="buttons">
        <small matTooltip="Queued processes that will show on log when completed. Changes will only apply to currently selected reference.">Batch Processes</small>
        <hr>
        <button mat-raised-button (click)="batchClearStamp()">Clear Stamp</button><br>
        <button mat-raised-button (click)="batchInfoStamp()">Info Stamp</button><br>
        <button mat-raised-button (click)="getGoogleMaps()">Generate Google Map</button><br>
    </div>
    <!-- <div *ngIf="isBatch" class="buttons">
        <button mat-raised-button (click)="download(0)">Stamp Info</button><br>
    </div> -->
</div>

