.buttons{
    float:left;
    width: 200px;
    margin-left: 40px;
}
h2{
    font-family: Impact;   
}
.leftMost{
    margin-left: 0px;
}
.buttons > button{
    width: 200px;
    margin-top: 10px;
}
app-reference, app-photoform{
    float:left;
}
app-photoform{
    width: 60%;
}
app-reference{
    max-width: 40%;
}
.buttonGroups{
    clear: left;
}
.tops{
    display:flex;
}
.titleLeft{
    width: 250px;
}
.thumbnail{
    margin-left: 40px;
}
.titleButtons{
    width: 400px;
    margin-left: 200px;
}
.extraView{
    margin-top: 100px;
}
.titleButton{
    margin: 5px;
    margin-top: 15px;
}
.big{
    width: 152px;
}
img{
    height: 100px;
}
.topGroup{
    display:flex;
    justify-content: center;
}