<div class="case">
    <!-- <img [ngClass]="{'gShadow': shadow, 'imgConstraint': constraint}" [ngStyle]="{'width': width, 'height': height, 'margin-left': marginLeft}" [id]="elementId" *ngIf="got" [src]="image64"/> -->
    <img [ngClass]="contraintClass" [id]="elementId" *ngIf="got" [src]="image64" [alt]="global.noLoadedImage()"/>
</div>
