.case{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgContraintThumb{
    width: 350px;
    height: 350px;
}
.imgContraintHeight{
    max-height: 640px;
}
.imgConstraint{
    max-width: 640px;
}