<div class="case" appNotification>
    <app-image [constraint]="true" class="crosshair" (click)="stamp()" #image></app-image>
    <!-- Coord: {{x}}, {{y}} -->
    <div 
        class="center small" 
        (click)="focus = !focus" 
        [ngStyle]="{'background-color': focus? 'orange': null}">
        Selected Reference: {{this.parent.model.lastReferencePath + 1}}
    </div>
    <form class="form" [formGroup] = "form.formGroup">
        <div [ngClass]="group">
            <label class="expandLabel">Text Stamp</label>
            <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]="model.text" formControlName="text">
                <div class="input-group-append">
                    <button [disabled]="!model.canUndo" class="btn btn-primary gButtonSharp" matTooltip="Undo 1 change" (click)="undo()">↺</button>
                    <button class="btn btn-primary gButtonCurveRight" (click)="clear()">Clear</button>
                </div>
            </div>
        </div>
        <div [ngClass]="group">
            <div>
                <label>Stamp size: {{model.size+1}}</label>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <button class="sizeLeft" type="button" [ngClass]="model.size === 0? sizeButtonClass[1]:sizeButtonClass[0]" (click)="changeSize(0)">1</button>
                        <button class="gButtonSharp" type="button" [ngClass]="model.size === 1? sizeButtonClass[1]:sizeButtonClass[0]" (click)="changeSize(1)">2</button>
                        <button class="gButtonSharp" type="button" [ngClass]="model.size === 2? sizeButtonClass[1]:sizeButtonClass[0]" (click)="changeSize(2)">3</button>
                        <button class="gButtonCurveRight" type="button" [ngClass]="model.size === 3? sizeButtonClass[1]:sizeButtonClass[0]" (click)="changeSize(3)">4</button>
                    </div>
                </div>
                <div>
                    <label>Stamp Color: {{getColorStatus()}}</label>
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="First group">
                            <button [disabled]="getColorStatus() === 'Auto'" class="sizeLeft" type="button" [ngClass]="model.isBlack === true? sizeButtonClass[1]:sizeButtonClass[0]" (click)="model.isBlack = true">Black</button>
                            <button [disabled]="getColorStatus() === 'Auto'" class="gButtonCurveRight" type="button" [ngClass]="model.isBlack === false? sizeButtonClass[1]:sizeButtonClass[0]" (click)="model.isBlack = false">White</button>
                        </div>
                    </div>
                </div>
                <div>
                    <label>Stamp Information</label>
                    <button class="btn btn-primary" [ngClass]="infoStampMode? 'gButtonActive': null" type="button" (click)="infoStamp()">{{infoStampMode? 'On': 'Off'}}</button>
                </div>
            </div>
                
            <div class="switch">
                <app-stamp-switch [stamp]="this" [card]="parent" #switch></app-stamp-switch><br>
                <button class="gCheapButton" (click)="openLargeImage()">Reference Info</button><br>
                <button class="gCheapButton" (click)="mirror()">Mirror</button><br>
                <button class="gCheapButton" (click)="clone()">Clone</button><br>
                <button class="gCheapButton" (click)="extract()">Extract</button><br>
                <button [disabled]="!parent.model.hasGeoData" [ngClass]="parent.model.hasGeoData? 'gCheapButton': 'gCheapButtonDisabled'" (click)="getGoogleMap()">Generate Google Map</button><br>
                <button class="gCheapButton gWarn" (click)="deleteButton()">Remove</button><br>
            </div>
        </div>
    </form>
</div>

