.crosshair:hover {cursor: crosshair;}

.case{
    width: 660px;
    /* background-color: red; */
}

.center{
    text-align: center;
}
button{
    margin-bottom: 10px;
}

label{
    font-weight: bold;
    font-family: Tahoma;
}
.expandLabel{
    line-height: 40px;
    min-width: 100px;
}
.input-group > input{
    height: 38px;
}
input{
    height: 46px;
}

/* use to put stamp size and switch in the same row */
.sides{
    display: flex;
}

.switch{
    margin-left: 30px;
}
.sizeLeft{
    border-radius: 5px 0 0 5px !important;
}
/* button{
    z-index: -100 !important;
} */
.form{
}
.small{
    margin-top: 5px;
}

