.case{
    width: 660px;
}

.center{
    text-align: center;
}
.buttons{
    float:left;
}
.buttons > button{
    width: 200px;
    margin-top: 10px;
    margin-left: 30px;
}
.infos{
    margin-left: 10px;
    margin-top: 10px;
    float:left;
    width: 400px;
}

ul > li{
    width: 400px;
    height: 8px;
}

.small{
    margin-top: 5px;
}