<app-preview-text #preview></app-preview-text>

<div class="case" appNotification>
  <app-player [noSlider]="true" *ngIf="typeVideo" #player></app-player>
  <app-image *ngIf="!typeVideo" #image></app-image>
  <div class="center h6 small">{{parent.model.fileName}}</div>
  <div class="infos">
      <app-info-table [model]="parent.model" #info></app-info-table>
  </div>
  <div *ngIf="checkActive()" class="buttons">
    <button class="gCheapButton" *ngIf="!typeVideo" (click)="rotate()">Rotate</button><br>
    <button class="gCheapButton" (click)="download(0)">Download Original</button><br>
    <button class="gCheapButton" *ngIf="!typeVideo" (click)="download(1)">Download Reference</button><br>
    <button class="gCheapButton" *ngIf="!typeVideo" (click)="download(2)">Download Merge</button><br>
    <button class="gCheapButton" (click)="openModify()">Modify</button><br>
    <button class="gCheapButton gWarn" (click)="delete()">Delete</button><br>
  </div>
</div>
