<app-preview-text #preview></app-preview-text>
<table class="table table-sm table-striped">
    <tbody>
        <tr *ngFor="let key of viewables">
          <td>
            {{key? wordCapitalize(key): ''}}
          </td>
          <td (mouseover)="checkPreview(model? model[key]: null, $event)" (mouseleave)="checkPreviewNull()">
            {{getModelByKey(key)}}
          </td>
        </tr>
      </tbody>
</table>