video,
vg-player {
  background-color: black;
}
vg-controls {
  opacity: 0;
  transition: opacity 0.5s;
}
vg-player:hover vg-controls {
  opacity: 1;
}
.case{
    position: relative;
}
app-slider{
    position: absolute;
    left:0;
    top:0;
    width: 640px;
}
.btn{
  position: relative;
  width: 65px;
  height: 30px;
  margin: 2px;
  top: 8px;
}
.playerControls{
  position: relative;
}
.progress{
  display: block;
  width: 60%;
  margin: 20px 0 20px 0;
  margin-left: 20%;
  text-align: center;
  background-color: rgb(54, 54, 54);
  color: white;
  padding: 0 50px 0 50px;
  height: 100px;
}
