<div class="progress" *ngIf="!hasProcessed()">
  <br>
  <h4>Video {{getProgress()}} %</h4>
  <br>
  <h5>Check back later</h5>
</div>

<div class="case" *ngIf="enabled && hasProcessed()" appNotification>
  <vg-player [ngStyle]="size" (onPlayerReady)="onPlayerReady($event)">
    <video [ngStyle]="size" *ngIf="isQ0" [vgMedia]="media" #media crossorigin>
      <source  src="{{link0}}" type="video/mp4">
    </video>
    <video [ngStyle]="size" *ngIf="!isQ0" [vgMedia]="media" #media crossorigin>
      <source src="{{link1}}" type="video/mp4">
    </video>
    <vg-controls *ngIf="showControls">
      <vg-play-pause (click)="play()"></vg-play-pause>
      <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
          <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
      </vg-scrub-bar>
      <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
      <vg-mute></vg-mute>
      <vg-volume></vg-volume>
      <vg-fullscreen (click)="fullscreen()"></vg-fullscreen>
      <div class="playerControls">
        <button *ngIf="!noSlider" [ngClass]="{'btn btn-sm': true, 'btn-warning' : isLoop, 'btn-primary': !isLoop}" (click)="setLoop()">Loop</button>
        <button *ngIf="!noSlider" class="btn btn-primary btn-sm" (click)="reverse()">Reseat</button>
        <button *ngIf="qualityCondition()" class="btn btn-primary btn-sm" (click)="quality()">{{getQualityLabel()}}</button>
      </div>
    </vg-controls>
  </vg-player>
  <!-- <button (click)="play()">Play</button>
  <button (click)="debug()">Debug</button>
  seek: {{seek}} -->
  <app-slider *ngIf="!noSlider" [isLoop]="isLoop" #slider></app-slider>
  </div>
  