.ticker{
    background-color: #F56300;
    margin-top: -15px;
    margin-left: 50px;
    width: 80px;
    height: 25px;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Arial Black';
    color: white;
    text-align: center;
}