<small>Reference Image</small>
<app-image class="gShadow" #image></app-image>
<button mat-raised-button [matMenuTriggerFor]="selection">Select Reference Image</button>

<mat-menu #selection="matMenu">
<div *ngFor="let i of references">
    <button mat-menu-item (click)="setImage()" (mouseleave)="offPrevImage()" (mouseenter)="prevImage(i.index)">{{i.index+1}}: {{i.title? i.title: i.fileName}}</button>
</div>
</mat-menu>

<!-- <button (click)="debug()">debug</button>
{{currentSelection}} -->
