<app-preview-text #preview></app-preview-text>
<table class="table table-sm table-striped">
    <tbody>
        <tr *ngFor="let key of viewables">
          <td *ngIf="!blockEmpty || ( blockEmpty && search.highlight( unNull(infoGetter.getViewByKey(model, key)) ) )" [ngClass]="{'noBorder':blockEmpty}">{{wordCapitalize(key)}}</td>
          <td *ngIf="!blockEmpty || ( blockEmpty && search.highlight( unNull(infoGetter.getViewByKey(model, key)) ) )"
            [ngClass] = "{'isReference(model, key)': true, 'noBorder': blockEmpty}"
            (mouseover)="checkPreview(key, $event)" (mouseleave)="checkPreviewNull()"
            [innerHtml]="search.highlight( unNull(infoGetter.getViewByKey(model, key)) )"></td>
        </tr>
      </tbody>
</table>