tr:hover{
    background-color: #ADD2FF !important;
}
td{
    font-family: Tahoma;
}
tbody > tr > td:nth-child(1){
    font-weight: bold;
    text-align: right;
}

/* table, th, td */
.noBorder{
    border-color: rgba(0, 0, 0, 0);
}