<div class="case">
  <div *ngIf="responseMessage">
    <p>{{responseMessage}}</p>
  </div>
  <input type="text" placeholder="New Field" (keyup)="newField = box.value" #box>
  <button type="submit" (click)="addNewField()" #add>Add</button>
  <h6>Custom fields</h6>
  <ul *ngFor="let field of serverLink.model.fieldDefinitions">
    <li>Field: {{field}} <button (click)="removeField(field)">Remove</button></li>
  </ul>
</div>

