<div class="case">
    <div *ngIf="screenMode === 2" class="messageContainer">
            <div class="message">
                Long upload detected.  This page will reload<br>
                automatically when upload is completed.
            </div>
            <div class="percentage">
                {{message}}
            </div>
            <!-- <div class="arrow">
                ➠
            </div> -->
        </div>

  <div *ngIf="screenMode === 1" class="messageContainer">
      <div class="message">
          This site requires a wide screen. <br>
          Please expand or use a wider screen.
      </div>
      <div class="percentage">
        {{message}}
      </div>
      <div class="arrow">
          ➠
      </div>
  </div>

    <div *ngIf="screenMode === 3" class="messageContainer">
        <div class="message">
            IP address has been change.<br>
        </div>
        <div class="highlights">
            {{message}}
        </div>
    </div>

    <div *ngIf="screenMode === 4" class="messageContainer">
        <div class="message">
            Page will refresh automatically when server is back up.<br>
        </div>
        <div class="highlights">
            {{message}}
        </div>
    </div>

    <div *ngIf="screenMode === 5" class="messageContainer">
        <div class="message">
            Server data has been clear. Please wait for restart.<br>
        </div>
        <div class="highlights lessMarginLeft">
            Server restarting... networks was reset to DHPC on port 1234.
        </div>
    </div>
</div>