.case{

}
.messageContainer{
    margin-top: 15%;
    margin-left: 20%;
    display: flex;
    align-items: center;
}
.message{
    font-family: 'Impact';
    font-size: 1.5em;
    margin-top: 5%;
    height: 140px;
    color: rgb(126, 126, 126);
    line-height: 150%;
}
.arrow{
    margin-left: 2%;
    font-family: 'Impact';
    font-size: 12em;
    height: 140px;
    color: rgb(126, 126, 126);
    line-height: 60%;
}
.percentage{
    margin-left: 2%;
    font-family: 'Impact';
    font-size: 5em;
    height: 140px;
    color: white;
    /* background-color: red; */
}
.highlights{
    font-family: 'Arial';
    font-size: 1.5em;
    color: white;
    margin-left: -12%;
    font-weight: bold;
    margin-top: 50px;
}
.lessMarginLeft{
    margin-left: -32%;
}
