.case{
    width: 660px;
}
.small{
    margin-top: 5px;
}
.switch{
}
button{
    margin-bottom: 10px;
}
.selector{
    position: relative;
}
.playButton{
    position: relative;
    top: 10px;
    float: right;
}
