<div class="case" appNotification>
    <app-player #player></app-player>
    <!-- Coord: {{x}}, {{y}} -->
    <div *ngIf="player.hasProcessed()">
        <mat-form-field>
            <mat-select placeholder="Select Sections" [(ngModel)]="sectionSelection" multiple>
                <mat-option *ngFor="let l of sections" [value]="l._id">
                    <div class="selector">
                    {{ shorten(l.comment) }} <button class="btn btn-primary btn-sm playButton" (click)="setSection(l)">Play</button>
                    </div>
                </mat-option>
            </mat-select>
        </mat-form-field>
        
        <!-- <button [disabled]="sections.length < 1? true: false" class="gCheapButton" [matMenuTriggerFor]="selection">Select Sections</button>    -->
        
        <br>
        <app-section-info-table [model]="model"></app-section-info-table>
    
        <div 
            class="center small" 
            [ngStyle]="{'background-color': focus? 'orange': null}">
        </div>
        <app-section-form [parent]="this"></app-section-form>
        <br>
    
        <div class="switch">
            <button class="gCheapButton" (click)="downloadClip()">Download Selections</button><br>
        </div>
    </div>
</div>


<mat-menu #selection="matMenu">
    <div *ngFor="let i of sections">
        <div class="selectionCase" href="#" mat-menu-item (click)="setSection(i)">
            {{indexOf(i) + 1}}: {{i.comment}}
        </div>
    </div>
</mat-menu>

