<form class="form" [formGroup] = "form.formGroup">
    <div *ngIf="!accountModify">
        <div [ngClass]="group">
            <label>User </label>
            <input type="text" class="form-control input-sm" [(ngModel)]="model.user" formControlName="user"> 
          </div>
          <div [ngClass]="group">
            <label>Password </label>
            <input type="password" class="form-control input-sm" [(ngModel)]="model.password" formControlName="password"> 
          </div>
      
          <div class="gResponse" *ngIf="responseMessage">{{responseMessage}}</div>

          <div [ngClass]="group" *ngIf="!accountModify">
            <button mat-raised-button color="warn" (click)="submit()">Submit</button>
          </div>
    </div>

    <div [ngClass]="group">
      <button mat-raised-button (click)="accountModifier()">{{accountModify? 'Dont create account': 'Create account'}}</button>
    </div>

    <!-- size Either normal (default), compact or invisible -->
    <re-captcha size="invisible" (captchaResponse)="captchaResponse($event)" site_key="6LfGLl0UAAAAAEKnQyXJpYPuI7wyiZoWEf2Vz9yr"></re-captcha>
    <div *ngIf="accountModify">
        <app-account-form [model]="model" [responseMessage]="responseMessage" #accountForm></app-account-form>
    </div>
</form>


