<form class="form" [formGroup] = "form.formGroup" appNotification>
  <div>
      <label>Comment</label>
      <textarea class="form-control input-sm" [(ngModel)]="model.comment" formControlName="comment"></textarea> 
    </div>
    <br>
    <button class="btn btn-primary btn-sm" [disabled]="!model.comment" type="submit" (keyup.enter)="submit()" (click)="submit()">Add new section</button>
    <button class="btn btn-primary btn-sm" [disabled]="!(parent.sectionSelection.length > 0)" type="submit" (click)="delete()">Remove selected section</button>
</form>