.case{
    top: 0px;
    position: fixed;
    width: 100%;
    display: flex;
    background-color: rgb(224, 224, 224);
    justify-content: space-between;
    align-items: center;
    height: 65px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
    z-index: 10;
}
.form-group{
    margin-top: 10px;
}


.search{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 70%;
}

/* margin donesn't work if you use flex: xx% */
.search > .sort{
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    display:flex;
}
.search > .sort > form > mat-form-field{
    width: 150px;
    margin-right: 10px;
    top: 5px;
}
.search > .sort > button{
    margin-right: 10px;
}
.search > .searchInput{
    width: 50%;
    
}


.menu{
    display: flex;
    justify-content: space-around;
    flex: 30%;
}
.case > :first-child{
    flex: 20%
}
app-digit-notifier{
    position: absolute;
    z-index: 10;
}
object{
    position: absolute;
    top:-6px;
    left: -50px;
    width: 50px;
    height: 50px;
    color: rgb(0, 238, 255);
}
.xButton{
    position: relative;
}

.hotReload{
    border-radius: 50% !important;
    font-size: 3em;
    width: 60px;
    height: 60px;
    position: fixed;
    left: 10px;
    bottom: 10px;
    z-index: 100;
}

.rotate-center-In {
	-webkit-animation: rotate-center-In 0.6s ease-in-out ;
	        animation: rotate-center-In 0.6s ease-in-out ;
}

@-webkit-keyframes rotate-center-In {
    0% {
        -webkit-transform: rotate(0) scale(0.25);
                transform: rotate(0) scale(0.25);
    }
    100% {
        -webkit-transform: rotate(360deg) scale(1);
                transform: rotate(360deg) scale(1);
    }
  }
@keyframes rotate-center-In {
    0% {
        -webkit-transform: rotate(0) scale(0.25);
                transform: rotate(0) scale(0.25);
    }
    100% {
        -webkit-transform: rotate(360deg) scale(1);
                transform: rotate(360deg) scale(1);
    }
}

.colorShift::placeholder{
    color: white;
}
.colorShift{
    background: linear-gradient(270deg, #2f7cff, #ffffff, #2f7cff, #ffffff, #2f7cff);
    background-size: 1000% 1000%;
    box-shadow: inset 0 0 5px #8cdeff;
    -webkit-animation: AnimationName 0.9s ease infinite;
    -moz-animation: AnimationName 0.9s ease infinite;
    animation: AnimationName 0.9s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}