<div class="case" appNotification>
  <div class="menu">
      <div>
        <button  mat-raised-button [matMenuTriggerFor]="appSelect">Select</button>
        <app-digit-notifier #sn></app-digit-notifier>
      </div>
      <button  mat-raised-button (click)="openModify()">Modify</button>
  </div>
  <div class="search">
      <div class="sort">
            <form [formGroup]="form.formGroup">
                <mat-form-field>
                    <mat-select
                    formControlName = "view" 
                    placeholder="Views" 
                    [(ngModel)]="viewSelection" multiple>
                    <mat-option *ngFor="let item of viewTypes" [value]="item.value">{{ item.viewValue }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
          <button mat-raised-button (click)="reorder()">{{decendingLabel()}}</button>
          <button mat-raised-button [matMenuTriggerFor]="appSort">{{wordCapitalize('Sort: ' + sortSelected)}}</button>
      </div>
      <!-- actual search is here -->
      
      <div class="input-group searchInput">
            <input 
                [ngClass] = "loading? 'colorShift': null"
                *ngIf="inputEnabled"
                (keyup)="UpdateSearch()" 
                (change)="UpdateSearch()"
                [(ngModel)]="currentSearch" 
                class="form-control input-sm" 
                id="inputsm" 
                type="text" 
                [placeholder]="getSearchPlaceholder()" 
                (keyup.enter)="startSearch()" 
                [ngbTypeahead]="searcher" 
                [resultFormatter]="formatter">   
            <div class="input-group-append">
                <button [disabled]="this.currentSearch ===''" class="xButton btn btn-primary gButtonSharp" (click)="clear()" matTooltip="Clear">x</button>
                <button class="btn btn-primary gButtonSharp" (click)="reloadPage()" matTooltip="Reset page">⌂</button>
                <button class="btn btn-primary gButtonSharp" [ngStyle]="{'background-color': search.filterDisabled? null: 'orange', 'color': search.filterDisabled? null: 'red'}" (click)="toggleFilter()" matTooltip="Filter">◍</button>
                <button class="btn btn-primary gButtonSharp" [ngStyle]="{'background-color': isExpandSearch? 'orange': null, 'color': isExpandSearch? 'red': null}" (click)="toggleExpandedSearch()" matTooltip="Expanded Search">⌕</button>
                <button class="btn btn-primary gButtonCurveRight searchButton" (click)="startSearch()">
                    Search
                </button>
            </div>
        </div>

      <!-- <div class="form-group searchInput">
        <input (keyup)="UpdateSearch(search.value)" [(ngModel)]="currentSearch" class="form-control input-sm" id="inputsm" type="text" placeholder="Filter" #search>
      </div> -->
  </div>

  <div class="menu">
      <div>
        <button mat-raised-button (click)="openUpload()">Upload</button>
        <app-digit-notifier #un></app-digit-notifier>
      </div>
        
      <button mat-raised-button [matMenuTriggerFor]="appExpand">Expand</button>
      <button mat-raised-button [matMenuTriggerFor]="appMenu">Menu</button>
  </div>
</div>

<!-- *ngIf="reloadableIds.length !== 0" -->

<button class="hotReload rotate-center-In" *ngIf="reloadableIds.length !== 0" mat-fab color="warn" (click)="hotReload()" matTooltipPosition="right" matTooltip="Hot reload {{reloadableIds.length}} photos">↻</button>

<!-- Menu dependencies -->

<mat-menu #appSelect="matMenu">
    <button mat-menu-item (click)="batchSelectButton('current')">Select Current</button>
    <button mat-menu-item (click)="batchSelectButton('all')">Select All</button>
    <button mat-menu-item (click)="batchSelectButton('none')">Select None</button>
</mat-menu>

<mat-menu #appSort="matMenu">
  <div *ngFor="let type of globals.sortables">
      <button mat-menu-item (click)="setSortType(type)">{{wordCapitalize(type)}}</button>
  </div>
</mat-menu>

<mat-menu #appExpand="matMenu">
    <button mat-menu-item (click)="cards.batchExpand(1)">Expand All</button>
    <button mat-menu-item (click)="cards.batchExpand(0)">Expand None</button>
  </mat-menu>

<mat-menu #appMenu="matMenu">
    <button mat-menu-item (click)="openLog()">Logs</button>
    <button mat-menu-item (click)="openServer()">Settings</button>
    <button mat-menu-item (click)="openAccount()">Account</button>
    <button mat-menu-item (click)="openAccountManager()">Manage Accounts</button>
    <button mat-menu-item (click)="debug()">Debug</button>
  </mat-menu>