<div class="form-group" appNotification>
    <input name="sslpw" type="password" id="sslpw" placeholder="SSL Key Passphrase"/>
    <label for="multiple">Select your <b>key.pem</b> and <b>cert.pem</b> file</label><br>
    <small>Supported format: .pem</small><br>
    <input type="file" accept=".pem" class="form-control" title=" " name="multiple" ng2FileSelect [uploader]="uploader" (click)="clearQueue()" multiple/> 
    <p *ngIf="statusAdded">Files Added: {{statusAdded}}</p>   
    <div class="status" *ngIf="hasStarted"> 
      <!-- check by:  uploader.progress > 0  -->
      <b>Upload status: {{status}}</b><br>
      <div class="gWarnText" *ngIf="pemError">Error <b>{{pemError}}</b></div> 
    </div>
    <div>key.pem <b [ngClass]="keyStatus === 'validated'? 'green': null">{{keyStatus}}</b></div>
    <div>cert.pem <b [ngClass]="certStatus === 'validated'? 'green': null">{{certStatus}}</b></div>
    <br>
    <button id="validator" type="submit" class="btn btn-success btn-s" (click)="upload()">
      Upload and validate
    </button>
</div>