<!-- <div class="tableContainer"> -->
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Date</th>
        <th scope="col">Message</th>
      </tr>
    </thead>
    <tbody *ngFor="let entry of logs">
      <tr>
        <td>{{entry._id}}</td>
        <td>{{infoGetter.getFormatedDateNormal(entry.date)}}</td>
        <td>{{entry.message}}<a href="#" *ngIf="entry.downloadable" (click)="download(entry._id)"> CLICK TO DOWNLOAD</a></td>
      </tr>
    </tbody>
  </table>
<!-- </div> -->
 
