
<form class="form" appNotification appPing [formGroup] = "form.formGroup">
  <h2>Settings</h2>
  <br>
  <div>
      <mat-checkbox type="checkbox"  [(ngModel)]="server.model.enablePreview" formControlName="enablePreview"></mat-checkbox> 
      <label>Enable hover preview</label>
  </div>

  <div>
      <mat-checkbox type="checkbox"  [(ngModel)]="server.model.autoGenerateMaps" formControlName="autoGenerateMaps"></mat-checkbox> 
      <label>Auto generate Google Maps on upload</label>
  </div>

    <div>
        <mat-checkbox type="checkbox"  [(ngModel)]="server.model.settableStampColor" formControlName="settableStampColor"></mat-checkbox> 
        <label>Settable stamp color </label>
    </div>

    <div>
        <mat-checkbox type="checkbox"  [(ngModel)]="server.model.loadAllOnStart" formControlName="loadAllOnStart"></mat-checkbox> 
        <label>Search all photos on start </label>
    </div>

    <div>
        <mat-checkbox type="checkbox"  [(ngModel)]="server.model.noConfirmDelete" formControlName="noConfirmDelete"></mat-checkbox> 
        <label>Disable delete confirmation </label>
    </div>

    <div>
        <mat-checkbox type="checkbox"  [(ngModel)]="server.model.disableScreenSizeWarning" formControlName="disableScreenSizeWarning"></mat-checkbox> 
        <label>Disable screen size warning </label>
    </div>

    <div>
        <mat-checkbox type="checkbox"  [(ngModel)]="server.model.contraintImageHeightCard" formControlName="contraintImageHeightCard"></mat-checkbox> 
        <label>Constraint height of image </label>
    </div>

    <div>
        <mat-checkbox type="checkbox"  [(ngModel)]="server.model.autoVideoPlay" formControlName="autoVideoPlay"></mat-checkbox> 
        <label>Play video automatically </label>
    </div>

    <div>
        <label>Total photos being tracked: {{totalPhoto}}</label>
    </div>

    <div>
        <mat-checkbox type="checkbox" (click)="initSsluploader()" [(ngModel)]="networkConfigTrigger" formControlName="networkConfigTrigger"></mat-checkbox> 
        <label>Config Network </label>
    </div>

    <div *ngIf="networkConfigTrigger" (keyup)="networkValid()" [ngStyle]="networkValidationStyle" class="network">
        <div>
            <label>DHCP </label>
            <mat-checkbox type="checkbox" [(ngModel)]="networkIsDHCP" formControlName="networkIsDHCP"></mat-checkbox> 
        </div>
        <div>
            <label>Hostname </label>
            <input class="form-control  input-sm"  [(ngModel)]="server.model.hostname" formControlName="hostname">
        </div>
        <div>
            <label>IPv4 </label>
            <input [attr.disabled]="isStatic()" class="form-control  input-sm"  [(ngModel)]="server.model.ipv4" formControlName="ipv4">
        </div>
        <div>
            <label>Netmask </label>
            <input [attr.disabled]="isStatic()" class="form-control  input-sm"  [(ngModel)]="server.model.netmask" formControlName="netmask">
        </div>
        <div>
            <label>Gateway </label>
            <input [attr.disabled]="isStatic()" class="form-control  input-sm"  [(ngModel)]="server.model.gateway" formControlName="gateway">
        </div>
        <div>
            <label>Port </label>
            <input type="number" class="form-control  input-sm"  [(ngModel)]="server.model.port" formControlName="port">
        </div>
        <div>
            <label>SSL</label>
            <mat-checkbox type="checkbox" (click)="initSsluploader()" [(ngModel)]="server.model.ssl" formControlName="ssl"></mat-checkbox> 
        </div>
        <div *ngIf="server.model.ssl">
            <label></label>
            <app-ssluploader #ssluploader></app-ssluploader>
        </div>
    </div>

    <app-server-fields></app-server-fields><br>

    <div class="cornerButtons">
        <button mat-raised-button color="warn" (click)="deleteAll()">Delete All</button><br>
        <button mat-raised-button color="primary" (click)="restartServer()">Restart Server</button><br>
    </div>
    
    <button type="submit" mat-raised-button (click)="apply(true)">Okay</button>
    <button mat-raised-button (click)="apply()">Apply</button>
</form>

<!-- debug {{modelGet()}} -->


