button, div{
    margin-left: 20px;
    margin-bottom: 20px;
}
label{
    margin-left: 20px;
}
.network{
    border-radius: 5px;
    padding: 5px;
    width: 400px;
    background-color: gray;
}
.network > div{
    margin: 0;
    margin-bottom: 10px;
    display: flex;
}
.network > div > label{
    margin: 0;
    margin-right: 10px;
    text-align: right;
    width: 65px;
}
.network > div > input{
    width: 70%;
}
.cornerButtons{
    position: absolute;
    top: 15px;
    right: 30px;
}
.form{
    position: relative;
    padding: 20px;
}