.case{
}

tr:hover{
    background-color: #ADD2FF !important;
}
td{
    font-family: Tahoma;
    text-align: left;
    vertical-align: center !important;
}
tbody > tr > td:nth-child(1){
    font-weight: bold;
    text-align: center;
}
tbody > tr > td:nth-child(3){
    text-align: center;
}
table{
    width: 300px;
}