<div class="case">
    <div *ngIf="dataRetrieved">
        <table class="table table-sm table-striped">
          <tbody>
              <tr *ngFor="let user of userData">
                <td>User</td>
                <td>{{user.user}}</td>
                <td><button class="btn btn-primary" (click)="openSettings(user.user)">Edit</button></td>
                <td><button class="btn btn-primary" (click)="deleteUser(user.user)">Delete</button></td>
              </tr>
          </tbody>
        </table>
    </div>
    <div class="gResponse" *ngIf="responseMessage">
      {{responseMessage}}
    </div>

    <button mat-raised-button (click)="accountModifier()">{{accountModify? 'Don\'t create account': 'Create account'}}</button>
    <div *ngIf="accountModify">
        <app-account-form [model]="newModel" [responseMessage]="responseMessage" #accountForm></app-account-form>
    </div>
</div>


