<h2 appNotification>Account Settings</h2>
<div *ngIf="dataRetrieved">
  <table id="info" class="table table-sm table-striped">
    <tbody>
        <tr *ngFor="let key of userDataKeys">
          <td>{{cc(key)}}</td>
          <td>{{getKeyData(key)}}</td>
        </tr>
    </tbody>
  </table>
</div>
<app-account-form [model]="model" #accountForm></app-account-form>
<!-- <form class="form" [formGroup] = "form.formGroup">
  <div *ngIf="!changePasswordTrigger">
      <div [ngClass]="group">
          <label>User<sup class="gWarnText">{{reason('user')}}</sup></label>
          <input [ngClass]="{'gInvalid': !form.isValid('user') || !userValidator(), 'form-control': true, 'input-sm': true}" [(ngModel)]="model.user" formControlName="user"> 
      </div>
      <div [ngClass]="group">
        <label>Info</label>
        <textarea class="form-control input-sm" [(ngModel)]="model.info" formControlName="info"></textarea> 
      </div>
      <div [ngClass]="group">
        <label>Email<sup class="gWarnText">{{reason('email')}}</sup></label>
        <input [ngClass]="{'gInvalid': !form.isValid('email'), 'form-control': true, 'input-sm': true}" [(ngModel)]="model.email" formControlName="email"> 
      </div>
      <div [ngClass]="group">
          <label>Level</label><br>
          <mat-form-field>
            <mat-select [(ngModel)]="model.level" formControlName="level">
              <mat-option *ngFor="let l of list" [value]="l.value">
                {{ l.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </div>
      <button class="btn btn-primary" (click)="update()">Update</button>
  </div>

  <button class="btn btn-warning" (click)="changePasswordTrigger = !changePasswordTrigger">
    {{changePasswordTrigger? 'Don\'t change password': 'Change Password'}}
  </button>

  <div id="response" *ngIf="changePasswordTrigger">{{responseMessage}}</div>
  <div *ngIf="changePasswordTrigger">
    <div *ngIf="!isManagement" [ngClass]="group">
      <label>Password</label>
      <input class="form-control input-sm" type="password" [(ngModel)]="model.password" formControlName="password"> 
    </div>
    <div [ngClass]="group">
      <label>New Password</label>
      <input class="form-control input-sm" type="password" [(ngModel)]="model.passwordNew" formControlName="passwordNew"> 
    </div>
    <button class="btn btn-danger" (click)="changePassword()">Change</button>
  </div>
</form> -->
<!-- user,email,lockoutTime,root,status,comment,authenticated -->