.case{
}

tr:hover{
    background-color: #ADD2FF !important;
}
td{
    font-family: Tahoma;
    text-align: left;
    word-wrap: break-word;
}
tbody > tr > td:nth-child(1){
    font-weight: bold;
    text-align: right;
    width: 180px;
}
#info{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    table-layout: fixed;
    width: 600px;
}
