.case{
    position: relative;
    height: 30px;
    width: 100%;
    background-color: gray;
}
.slider1{
    background-color:rgba(255, 0, 0, 0.349);
}
.slider2{
    
    background-color: rgba(0, 0, 255, 0.466);
}

.slider{
    position: absolute;
    height: 100%;
    width: 30px;
    text-align: center;
}
.indicator{
    position: relative;
    top: 40px;
    color: gray;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }