<div *ngIf="false">
    <p>TEST</p> <br>
    mouse held {{mouseHeld}} <br>
    mouse clientX {{clientX}} <br>
    bar offset {{barOffset? barOffset: 0}} <br>
    current slider {{currentSliderId}} <br>
    percent1 {{percent1}} <br>
    percent2 {{percent2}} <br>
    staticp {{percent1Static}}
</div>

<div [id]="barId" class="case noselect">
    <div [id]="sliderId" [ngStyle]="{'left': position1 + 'px', 'background-color': isLoop? 'white': null}" class="slider slider1 noselect">
        <div class="indicator">{{formatShort(videoLength*percent1)}}</div>
    </div>    
    <div [id]="sliderId2" [ngStyle]="{'left': position2 + 'px', 'background-color': isLoop? 'white': null}" class="slider slider2 noselect">
        <div class="indicator">{{formatShort(videoLength*percent2)}}</div>
    </div>  
</div>