
<h2>Batch Upload</h2>
<hr>
<div class="form-group" appNotification (keyup.enter)="upload()">
    <label for="multiple">You can select multiple photos</label><br>
    <small>Supported format: .jpg, .mp4</small>
    <input type="file" accept=".jpg, .mp4" class="form-control" title=" " name="multiple" ng2FileSelect [uploader]="uploader" multiple/> 
    <p *ngIf="statusAdded">Files Added: {{statusAdded}}</p>   
    <app-photoform [isUpload]="true" #photo></app-photoform>
    <div class="status" *ngIf="hasStarted"> 
        <!-- hasStarted -->
      <!-- check by:  uploader.progress > 0  -->
      <b>Upload progress: {{uploader.progress}}</b><br>
      <b>Upload status: {{status}}</b><br>
      <em id="uStatus" tabindex="0">Please wait, do not close or reload this page</em>
    </div>
    <button [hidden]="hasStarted" type="button" class="btn btn-success btn-s" (click)="upload()" [disabled]="!uploader.getNotUploadedItems().length">
      Upload all
    </button>
</div>

<!-- <button (click)="debug()">debug</button> -->



