div{
    width: 40%
}

/* this removes the No file chosen problem when there IS file chosen */
input[type='file'] {
    color: transparent;
}

.status{
    width: 400px;
}
#uStatus{
    outline: 0;
}
h2{
    font-family: Impact;   
}