<div class="case">
    <button class="gCheapButton" [matMenuTriggerFor]="selection">Select Reference Image</button>

    <mat-menu #selection="matMenu">
    <div *ngFor="let i of references">
        <div class="selectionCase" href="#" mat-menu-item (click)="setImage()" (mouseenter)="prevImage(i.index)">
            <img [src]="i.data">
            <div class="selection">
                    {{i.index+1}}
                <!-- {{i.referenceId}} -->
            </div>
        </div>
    </div>
    </mat-menu>
</div>
