.case{
    margin-top: 32px;
}
.selectionCase{
    /* outline: 1px solid rgb(117, 117, 117);
    outline-style: inset;
    outline-offset: -1px; */
    display: flex;
    align-items: center;
    width: 250px;
    height: 100px;
}
img{
    width: 100%;
    height: 100%;
    max-width: 130px;
    max-height: 100px;
}
.selection{
    width: 70px;
    text-indent: 20%;
}