<form class="form" [formGroup] = "form.formGroup">
  <div [ngClass]="group">
      <label>{{formatLabel("photographer")}}</label>
      <input id="photoformTop" class="form-control input-sm" [ngbTypeahead]="searcher['photographer']" [resultFormatter]="formatter" [(ngModel)]="model.photographer" formControlName="photographer"> 
    </div>

    <div [ngClass]="group">
      <label >{{formatLabel("title")}}</label>
      <input class="form-control input-sm" [ngbTypeahead]="searcher['title']" [resultFormatter]="formatter" [(ngModel)]="model.title" formControlName="title"> 
    </div>

    <div [ngClass]="group">
      <label >{{formatLabel("comment")}}</label>
      <textarea class="form-control input-sm" [(ngModel)]="model.comment" formControlName="comment"></textarea> 
    </div>

    <div [ngClass]="group">
      <label >{{formatLabel("location")}}</label>
      <input class="form-control input-sm" [ngbTypeahead]="searcher['location']" [resultFormatter]="formatter" [(ngModel)]="model.location" formControlName="location"> 
    </div>

    <div [ngClass]="group">
      <label >{{formatLabel("area")}}</label>
      <input class="form-control input-sm" [ngbTypeahead]="searcher['area']" [resultFormatter]="formatter" [(ngModel)]="model.area" formControlName="area"> 
    </div>

    <div [ngClass]="group">
      <label >{{formatLabel("campus")}}</label>
      <input class="form-control input-sm" [ngbTypeahead]="searcher['campus']" [resultFormatter]="formatter" [(ngModel)]="model.campus" formControlName="campus"> 
    </div>

    <div [ngClass]="group">
      <label >{{formatLabel("building")}}</label>
      <input class="form-control input-sm" [ngbTypeahead]="searcher['building']" [resultFormatter]="formatter" [(ngModel)]="model.building" formControlName="building"> 
    </div>

    <div [ngClass]="group">
      <label >{{formatLabel("component")}}</label>
      <input class="form-control input-sm" [ngbTypeahead]="searcher['component']" [resultFormatter]="formatter" [(ngModel)]="model.component" formControlName="component"> 
    </div>

    <div [ngClass]="group">
      <label >{{formatLabel("conduit")}}</label>
      <input class="form-control input-sm" [ngbTypeahead]="searcher['conduit']" [resultFormatter]="formatter" [(ngModel)]="model.conduit" formControlName="conduit"> 
    </div>

    <div *ngFor="let field of serverLink.model.fieldDefinitions">
      <div [ngClass]="group">
          <label >{{formatLabel(field)}}</label>
          <input class="form-control input-sm" (keyup)="fieldBindWithModel(field)" [ngbTypeahead]="searcher[field]" [resultFormatter]="formatter" [(ngModel)]="attrTemp[field]" formControlName="{{field}}"> 
      </div>
    </div>

    <div [hidden]="isUpload" [ngClass]="group">
      <mat-form-field>
        <input matInput [(ngModel)]="model.date" [matDatepicker]="picker" formControlName="date" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>  
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div [ngClass]="group">
        <mat-checkbox type="checkbox" [(ngModel)]="model.isReference" formControlName="isReference"></mat-checkbox>
          <label class="form-check-label">
              {{formatLabel("Reference")}}
          </label>
      </div>
</form>

debug {{debug()}}
<br>
debug {{debug2()}}


