<p>
  {{debug()}}
</p>
<div>
    <div *ngIf="dataRetrieved">
        <table class="table table-sm table-striped">
          <tbody>
              <tr *ngFor="let user of userShares">
                <td>User: {{user.user}}</td>
                <td>Id: {{user.associatedId}}</td>
                <td>Privilage: {{getPrivilageType(user.privilege)}}</td>
                <td>
                  <mat-form-field>
                    <mat-select placeholder="Change Privilage" (change)="privilageChange(user.associatedId, user.user, $event.value)">
                      <mat-option *ngFor="let l of privilageList" [value]="l.value">
                        {{ l.viewValue }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </tr>
          </tbody>
        </table>
    </div>
    
</div>