.case{
    position: relative;
    height: 30px;
    left: 20px;
    width: 300px;
    background-color: black;
}
.slider1{
    position: absolute;
    top: -20px;
    left: 150px;
    height: 50px;
    width: 10px;
    background-color:rgba(255, 0, 0, 0.349);
}
.slider2{
    position: absolute;
    top: -20px;
    left: 220px;
    height: 50px;
    width: 10px;
    background-color: rgba(0, 0, 255, 0.466);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }