<div *ngIf="model">
  <form class="form" [formGroup] = "form.formGroup" appNotification>
    <div *ngIf="!changePasswordTrigger || isCreate">
        <div [ngClass]="group">
            <label>User<sup class="gWarnText">{{reason('user')}}</sup></label>
            <input [ngClass]="{'gInvalid': !form.isValid('user') || !userValidator(), 'form-control': true, 'input-sm': true}" [(ngModel)]="model.user" formControlName="user"> 
        </div>
        <!-- user only for creating -->
        <div *ngIf="isCreate" [ngClass]="group">
            <label>Password<sup class="gWarnText">{{reason('password')}}</sup></label>
            <input [ngClass]="{'gInvalid': !form.isValid('password'), 'form-control': true, 'input-sm': true}" type="password" [(ngModel)]="model.password" formControlName="password"> 
        </div>
        <div [ngClass]="group">
          <label>Info</label>
          <textarea class="form-control input-sm" [(ngModel)]="model.info" formControlName="info"></textarea> 
        </div>
        <div [ngClass]="group">
          <label>Email</label>
          <input [ngClass]="{'form-control': true, 'input-sm': true}" [(ngModel)]="model.email" formControlName="email"> 
        </div>
        <div [ngClass]="group">
            <label>Level</label><br>
            <mat-form-field>
              <mat-select [(ngModel)]="model.level" formControlName="level">
                <mat-option *ngFor="let l of list" [value]="l.value">
                  {{ l.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        <div id="response" *ngIf="responseMessage">{{responseMessage}}</div>
        <button *ngIf="!isCreate" class="btn btn-primary" (click)="update()">Update</button>
        <button *ngIf="isCreate" class="btn btn-primary" (click)="create()">Create</button>
    </div>
  
    <!-- password changing -->
    <button *ngIf="!isCreate" class="btn btn-warning" (click)="changePasswordTrigger = !changePasswordTrigger">
      {{changePasswordTrigger? 'Don\'t change password': 'Change Password'}}
    </button>
    <div id="response" *ngIf="changePasswordTrigger && responseMessage">{{responseMessage}}</div>
    <div *ngIf="changePasswordTrigger">
      <div *ngIf="!isManagement" [ngClass]="group">
        <label>Password</label>
        <input class="form-control input-sm" type="password" [(ngModel)]="model.password" formControlName="password"> 
      </div>
      <div [ngClass]="group">
        <label>New Password</label>
        <input class="form-control input-sm" type="password" [(ngModel)]="model.passwordNew" formControlName="passwordNew"> 
      </div>
      <button class="btn btn-danger" (click)="changePassword()">Change</button>
    </div>

    <!-- delete account -->
    <button *ngIf="!isCreate" class="btn btn-warning" (click)="deleteAccountTrigger = !deleteAccountTrigger">
        {{deleteAccountTrigger? 'Don\'t delete account': 'Delete account'}}
      </button>
      <div class="gResponse" *ngIf="deleteAccountTrigger && responseMessage">{{responseMessage}}</div>
      <div *ngIf="deleteAccountTrigger">
        <div *ngIf="!isManagement" [ngClass]="group">
          <label>Password</label>
          <input class="form-control input-sm" type="password" [(ngModel)]="model.password" formControlName="password"> 
        </div>
        <button class="btn btn-danger" (click)="delete()">Delete</button>
      </div>
  </form>
</div>
