.hoverStyle{
    position: fixed;
    z-index: 200;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
}
img{
    width: 250px;
    height: 250px;
}
app-info-table{
    color: white;
}