<div>
    <app-cards #cards></app-cards>
    <app-topnav [hidden]="false" #topNav></app-topnav>
    <app-disable-overlay [message]="message" [screenMode]="screenMode" *ngIf="screenMode !== 0" #overlay></app-disable-overlay>
    <!-- <button (click)="debug()">debug</button> -->
</div>
<div class="backgroundDark" [ngStyle]="{'background-color': backgroundColor}">
</div>





