app-cards{
    position: relative;
    top: 80px;
}
app-disable-overlay{
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
}
.backgroundDark{
    position: fixed;
    top:0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    z-index: -1000;
}