.hoverStyle{
    position: fixed;
    z-index: 200;
    background-color: rgba(0, 0, 0, 1);
    max-width: 300px;
    height: auto;
    word-wrap: break-word;
    font-size: 1.1em;
    padding: 10px;
    color: white;
    border-radius: 5px;
}