.gShadow{
    box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.5);
}
.gOutline{
    outline-style: solid;
    outline-width: 1px;
    outline-color: rgb(190, 190, 190);
}
button{
    border-radius: 5px !important;
    transition: box-shadow 0.3s !important;
}

.gRound{
    border-radius: 5px !important;
}

.gCheapButton{
    background-color: white;
    border:none;
    width: 200px;
    height: 36px;
    outline-style: solid;
    outline-width: 2px;
    outline-color: rgb(190, 190, 190);
    border-radius: 0px !important;
}

.gCheapButtonDisabled{
    background-color: white;
    color: rgb(223, 223, 223);
    border:none;
    width: 200px;
    height: 36px;
    outline-style: solid;
    outline-width: 2px;
    outline-color: rgb(223, 223, 223);
    border-radius: 0px !important;
}

.gButtonCurveRight{
    border-radius: 0 5px 5px 0 !important;
}
.gResponse{
    font-weight: bold;
}
.gButtonSharp{
    border-radius: 0 !important;
}
.gWarn{
    background-color: #EA402F !important;
}
.gInvalid{
    background-color: rgba(255, 21, 0, 0.123) !important;
}
.gWarnText{
    color: #EA402F;
}
.gButtonActive{
    box-shadow: 0 !important;
    animation: loopBoxShadowWarning 1s infinite !important;
}
@keyframes loopBoxShadowWarning{
    0% { box-shadow: 0; }
    50% { box-shadow: 0 0px 6px 5px rgb(0, 255, 242); }
    100% { box-shadow: 0; }
}
button{
    /* outline-color: rgba(255, 255, 255, 0) !important; */
    /* transition: outline-color 1s !important; */
}
button:not([disabled]):hover{
    z-index: 100 !important;
    
    /* outline-style: solid !important;
    outline-color: rgb(0, 255, 242) !important;
    outline-width: 3px !important; */
    
    /* none|h-offset v-offset blur spread color */
    box-shadow: 0 0px 5px 2px rgb(0, 255, 242) !important;
}
.gReferenceType{
    background-color: orange;
    border-radius: 5px;
    color: white;
}