.column{
    position: fixed;
    display:flex;
    /* background-color: mediumslateblue; */
    /* width: 100%; */
    width: 1320px;
    padding-left: 45px;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    z-index: 5;
    border: 0px;
    border-bottom: 1px rgb(192, 192, 192);
    border-style: solid;
    height: 20px;
}
.loading{
    height: 40px;
    padding: 10px;
}
/* width is use to align the column */

.item{
    text-align: left;
    min-width: 244px;
    font-family: Impact;  
    cursor:pointer; 
}
.cards{
    position: relative;
    top:30px;
}
.lower{
    opacity: 0.3;
}
.case{
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}
h6{
    font-family: Serif;
    font-weight: bolder;
}
.columnSelect:hover{
    outline: 3px solid #7aabff;
    outline-offset: -3px;
}
#blankLayer{
    margin-top: 30px;
    height: 24px;
    width: 100%;
}