<div appNotification class="case">
    <div>
        <div [ngClass]="columnClass">
            <div *ngFor="let column of columnView">
                <div class="item h5" (click)="settingColumn(column)" [matMenuTriggerFor]="appColumn">{{column.toUpperCase()}}</div>
            </div>
        </div>
    </div>
    
    <div class="cards">
        <div #carder></div>
    </div>

    <!-- this blanklayer causes preview to close when hovering off the last card -->
    <div id="blankLayer"></div>

    <app-image-preview #preview></app-image-preview>
</div>

<mat-menu #appColumn="matMenu">
    <div *ngFor="let type of sortTypes">
        <div class="columnSelect" mat-menu-item [ngStyle]="{'background-color': columnSelecting === type? '#7aabff': 'white', 'font-weight': columnSelecting === type? 'bold': 'normal'}" (click)="setColumn(type)">{{type.toUpperCase()}}</div>
    </div>
</mat-menu>
<!-- <button (click)="debug()">debug</button> -->









