<div appHoverActive [card]="this" class="case gOutline" [ngStyle]="currentStyle" [hidden]="searchBlock() || viewBlock()" [id]="cardId">
    <app-heading [parent]="this" class="head" #heading></app-heading>
    <app-view [parent]="this" *ngIf="expand" class="body" #view></app-view>
    <app-stamp [parent]="this" *ngIf="expand && !isVideo" class="body" #stamp></app-stamp>
    <app-section [parent]="this" *ngIf="expand && isVideo" class="body" #section></app-section>
  </div>
  <!-- {{getModel()}} -->
