.case{
    margin: 10px;
    width: 1320px;
    /* background-color: green; */
    display: flex;
    flex-flow: row wrap;
    background-color: white;
}
.highlight{
    outline-color: rgb(139, 182, 255);
    outline-style: solid;
    outline-width: 3px;
}
.selectHighlight{
    /* outline-color: red; */
    outline-style: solid;
    outline-width: 3px;
}
